[submodule "Stulu/vendor/spdlog"]
	path = Stulu/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Stulu/vendor/glm"]
	path = Stulu/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Stulu/vendor/GLFW"]
	path = Stulu/vendor/GLFW
	url = https://github.com/stulu08/glfw
[submodule "Stulu/vendor/imgui"]
	path = Stulu/vendor/imgui
	url = https://github.com/stulu08/imgui
[submodule "Stulu/vendor/assimp"]
	path = Stulu/vendor/assimp
	url = https://github.com/stulu08/assimp
