# Other
.vscode/
__pycache__/

# Visual Studio
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user 
*.csproj

# Engine intermediate
bin/
bin-int/
Build/
build.bat

# Make
/Makefile

# CMake
CMakeFiles/
*.cmake
CMakeLists.txt
CMakeCache.txt