# Directoies
.vs/
bin/
bin-int/
!Stulu/vendor/physx/bin
Stulu/vendor/VulkanSDK
build/
DebugProject/Data
DebugProject/temp

#Files
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user 
*.csproj
VulkanTesting/Profiling-Startup.json
VulkanTesting/Profiling-Shutdown.json
VulkanTesting/Profiling-Runtime.json
